<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="cwd.cs" />
    
    <bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" >
		  <list>
            <value>classpath:database/database.properties</value>
            <value>classpath:cloud/cloud.properties</value>
         </list>
       </property>
	</bean>
    
    <!-- load the database spring configuration -->
    <import resource="database/database.xml" />
    
    <!-- load the cloud spring configuration -->
    <import resource="cloud/cloud.xml" />
    
    
</beans>